.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-title-container {
  margin: $gutter;
  text-align: center;
}

.footer-title-text {
  color: $brand-white;
}

.footer-suggestion-container {
  display: flex;
  justify-content: center;

}

.footer-suggestion {
  color: $brand-white;
  text-align: center;

  &:hover {
    .footer-image {
      opacity: 1;
    }

    .footer-image-text {
      color: $brand-red;
    }
  }

}

.footer-image {
  width: 22rem;
  padding-top: $gutter;
  opacity: 0.4;

}

.footer-image-text {
  color: $brand-light-gray;
}
