
.main-content-container {
  display: flex;
  flex-direction: column;
  width: $max-width;
  margin: auto;

}

.article-container {
  display: flex;
}

.main-content-article {
  width: 75%;
  max-width: 65rem;
  margin-top: 1rem;
  text-align: right;
}

.main-content-author-info {
  display: flex;
  justify-content: center;

}

.article-image-author {
  max-width: 32rem;
  margin-top: 1rem;
  color: $brand-white;
  font-size: 1.2rem;
}

.article-image-date {
  width: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  line-height: $gutter;
}

.article-image {
  @extend %nashville;
  width: 60%;
  max-width: 38rem;
  margin-right: $gutter;

}

.main-content-info {
  display: flex;
}

.info-icons-list {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  padding: 0;
  list-style: none;
  text-align: center;

}

.list-icon {
  padding-bottom: 0.8rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  padding: 0 ;
  list-style: none;

  :first-child {
    color: $brand-red;
  }
}

.info-text-items {
  padding-bottom: 0.6rem;
}
