.profile-container {
  margin: auto;
  text-align: center;
}


.profile-pic {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;

}

.profile-pic-text {
  position: absolute;
  top: 46%;
  left: 46%;
  transform: translate(0%, -35%);
  color: $brand-white;
  font-size: 1.5rem;

}

.fa-caret-down {
  position: absolute;
  top: 28%;
  left: 47%;
  transform: translate(47%, 0%);
  color: $brand-red;
  font-size: 5rem;
}
