figure {
  max-width: 80vw;
}

.article-container {
  flex-direction: column;
}

.info-icons {
  margin-left: 11vw;
}

.footer-suggestion-container {
  flex-direction: column;
}

.footer-image {
  max-width: 75vw;

}
